@model MemberSystem.ViewModels.GuestbookViewModel

@{
    ViewBag.Title = "Index";
}

<h2>留言板</h2>

@*用於避免跨網站請求CSRF*@
@Html.AntiForgeryToken();

@*新增留言*@
<div>
    @Html.Action("Create")
</div>

@*載入資料*@
@Html.Action("GetDataList")

@*import javascript for identify*@
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
